.p-datatable-header {
  text-align: right;
  .p-multiselect{
    margin-right:10px;
    margin-left:10px;
  }
  .p-button{
    margin-right:10px;
  }
}
.report-section{
  padding:20px;
  background: #f2f2f2;
  .mt-20{
    margin-top:20px;
  }
}
