<nav class="navbar">
    <div class="container-fluid">
      <div class="d-flex justify-content-start">
        <div><a class="navbar-brand" href="#">4DCRM</a></div>
      </div>
        <div class="d-flex justify-content-end">
          <div class="user" (click)="menu.toggle($event)">
            <div class="avatar">
              <i class="mdi mdi-account-tie"></i>
            </div>
            <div class="title" style="cursor: pointer" >
              Welcome Admin
            </div>
            <div class="dropdown">
              <i class="mdi mdi-chevron-down"></i>
            </div>
          </div>
        </div>
    </div>
  </nav>
  <p-menu #menu [popup]="true" [model]="items"></p-menu>
