.d-flex{
  align-items:center;
  justify-content:center;

}
.report-btn {
  padding:10px;
  background:#188e78;
  color:#fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    background:#064a3d;
  }
  &.active {
    background:#064a3d;
  }
  .icon{
    font-size:1.5em;
    padding-right:10px
  }
}
.p-datatable-wrapper{
  margin-top: 0px;
}
