<div class="card">
  <div class="card-header">
    <h4>Dynamic from</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div *ngFor="let ele of formData" class="col-lg-3 col-md-6">
        <div *ngIf="ele.type==='text'">
            <div class="formInput">
              <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">{{ele.label}}</label>
              </span>
            </div>
        </div>
        <div *ngIf="ele.type==='dropdown'">
            <div class="formInput">
              <span class="p-float-label">
                <p-autoComplete [showEmptyMessage]="true" [suggestions]="filteredList" (completeMethod)="filterList(ele.option,$event)" field="label" [minLength]="1" [dropdown]="true"></p-autoComplete>
                <label for="float-input">{{ele.label}}</label>
              </span>
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

