    <section class="leftNav" [ngClass]="{'toggle':toggle}">
<div>
    <span class="menuToggle" (click)="toggleMenu()"><i class="mdi mdi-menu" *ngIf="toggle"></i><i class="mdi mdi-close" *ngIf="!toggle"></i></span>
</div>
<div class="navMenu">
    <ul>
        <li>
            <a href="#" routerLink="/dashboard" pTooltip="Dashboard"  tooltipPosition="right"><i class="mdi mdi-view-dashboard-outline"></i><span>Dashboard</span></a>
        </li>
        <li>
            <a href="#" routerLink="/people" pTooltip="People" tooltipPosition="right"><i class="mdi mdi-card-account-details-outline"></i><span>People</span></a>
        </li>
        <li>
            <a href="#" routerLink="/interaction" pTooltip="Interactions" tooltipPosition="right"><i class="mdi mdi-phone"></i><span>Interactions</span></a>
        </li>
        <li>
            <a href="#" routerLink="/agents" pTooltip="Agents" tooltipPosition="right"><i class="mdi mdi-account-supervisor-outline"></i><span>Agents</span></a>
        </li>
        <li>
            <a href="#" routerLink="/reports" pTooltip="Reports" tooltipPosition="right"><i class="mdi mdi-file-document-multiple-outline"></i><span>Reports</span></a>
        </li>
    </ul>
</div>
</section>
