<p-table
  [value]="incidents"
  styleClass="p-datatable-striped"
  [paginator]="true"
  [rows]="10"
  [showCurrentPageReport]="true" selectionMode="single"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [rowsPerPageOptions]="[10,25,50]"
  [globalFilterFields]="['reference','subject','status','action']"
  #dt1
  >
<ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="reference">Reference<p-sortIcon field="reference"></p-sortIcon></th>
        <th>Subject</th>
        <th pSortableColumn="status" style="width:100px">Status<p-sortIcon field="status"></p-sortIcon></th>
        <th style="width:100px">Action</th>
        <th >Product</th>
        <th pSortableColumn="assigned">Assigned Account<p-sortIcon field="assigned"></p-sortIcon></th>
        <th pSortableColumn="date" width="150px">Created Date<p-sortIcon field="date"></p-sortIcon></th>
    </tr>
    <tr>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'reference', 'contains')" [value]="dt1.filters['reference']?.value" placeholder="Search by reference">
      </th>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'subject', 'contains')" [value]="dt1.filters['subject']?.value" placeholder="Search by subject">
      </th>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'status', 'contains')" [value]="dt1.filters['status']?.value" placeholder="Search by status">
      </th>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'action', 'contains')" [value]="dt1.filters['action']?.value" placeholder="Search by action">
      </th>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'product', 'contains')" [value]="dt1.filters['product']?.value" placeholder="Search by product">
      </th>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'assigned', 'contains')" [value]="dt1.filters['assigned']?.value" placeholder="Search by assigned">
      </th>
      <th>
        <input pInputText type="text" (input)="dt1.filter($event.target.value, 'date', 'contains')" [value]="dt1.filters['date']?.value" placeholder="Search by date">
      </th>
    </tr>
</ng-template>

<ng-template pTemplate="body" let-incident>
    <tr (click)="onSelect(incident)">
        <td>{{incident.reference}}</td>
        <td>{{incident.subject}}</td>
        <td>{{incident.status}}</td>
        <td>{{incident.action}}</td>
        <td>{{incident.product}}</td>
        <td>{{incident.assigned}}</td>
        <td width="150px">{{incident.date}}</td>
    </tr>
</ng-template>
</p-table>
