<div class="card">
  <div class="card-header">
    <h4>Agent Profile</h4>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h4>Personal Information</h4>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">First name</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">Last name</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <p-autoComplete [showEmptyMessage]="true" [suggestions]="filteredList"
                  (completeMethod)="filterList(profile,$event)" field="label" [minLength]="1" [dropdown]="true">
                </p-autoComplete>
                <label for="float-input">Profile</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <p-autoComplete [showEmptyMessage]="true" [suggestions]="filteredList"
                  (completeMethod)="filterList(status,$event)" field="label" [minLength]="1" [dropdown]="true">
                </p-autoComplete>
                <label for="float-input">Status</label>
              </span>
            </div>
          </div>

        </div>
        <br />
        <h4>Security Information</h4>
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">Email</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">Login / Username</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <p-password>
                  <ng-template pTemplate="header">
                    <h6>Pick a password</h6>
                  </ng-template>
                  <ng-template pTemplate="footer">
                    <p-divider></p-divider>
                    <p class="p-mt-2">Suggestions</p>
                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>At least one lowercase</li>
                      <li>At least one uppercase</li>
                      <li>At least one numeric</li>
                      <li>Minimum 8 characters</li>
                    </ul>
                  </ng-template>
                </p-password>
                <label for="float-input">Password</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <p-password></p-password>
                <label for="float-input">Confirm Password</label>
              </span>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="formInput">
              <span class="p-float-label">
                <input id="float-input" type="text" pInputText>
                <label for="float-input">Phone no</label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h4>Upload profile picture</h4>
        <div class="formInput">
          <p-fileUpload name="demo[]" url="" (onUpload)="onUpload($event)" accept="image/*" maxFileSize="1000000" class="form-control" id="picture">
            <ng-template pTemplate="content">
              <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
              </ul>
            </ng-template>
          </p-fileUpload>
        </div>
      </div>
    </div>

    <div [hidden]="!imageFileIsTooBig"
       class="alert alert-danger mt-2">
    The image file selected is too big (max 1MB)
    </div>
    <div *ngIf="profileImageChangedStatus === 'ok'" class="alert alert-success mt-2"> Image Profile updated successfully!</div>
    <div *ngIf="profileImageChangedStatus === 'fail'" class="alert alert-danger mt-2"> Image Profile failed to update!</div>

    <hr />
    <div class="row sticky-button">
      <div class="col-lg-6 d-flex align-items-center">
        <h4>Agent Information</h4>
      </div>
      <div class="col-lg-6 text-end">
        <button><i class="mdi mdi-plus"></i>Save</button>
        <button class="warning"><i class="mdi mdi-close"></i>Reset</button>
      </div>
    </div>
  </div>
</div>
