<div class="mb-10">
  <button (click)="createNote()"><i class="mdi mdi-plus"></i>Add</button>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6">
    <div class="notes">
      <div class="notes-title">
        Test Notes
      </div>
      <div class="notes-body">
        test comment
      </div>

      <div class="notes-footer">
        Priya <i class="mdi mdi-calendar"></i>16/06/2021
      </div>
      </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="notes">
      <div class="notes-title">
        Test Notes
      </div>
      <div class="notes-body">
        test comment
      </div>

      <div class="notes-footer">
        Priya <i class="mdi mdi-calendar"></i>16/06/2021
      </div>
      </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="notes">
      <div class="notes-title">
        Test Notes
      </div>
      <div class="notes-body">
        test comment
      </div>

      <div class="notes-footer">
        Priya <i class="mdi mdi-calendar"></i>16/06/2021
      </div>
      </div>
  </div>
</div>
<p-dialog header="Create new note" [(visible)]="createDialog" [style]="{width: '50vw'}" [modal]="true">
  <div class="formInput">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText>
      <label for="float-input">Note</label>
    </span>
    </div>
    <button (click)="close()"><i class="mdi mdi-plus"></i>Save</button>
</p-dialog>


