<div>
  <button><i class="mdi mdi-upload-outline"></i>Upload</button>
</div>
<div>
  <p-table [value]="attachments" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]">
<ng-template pTemplate="header">
    <tr>
        <th pSortableColumn="name">Reference<p-sortIcon field="name"></p-sortIcon></th>
        <th >Subject</th>
        <th pSortableColumn="created">Create<p-sortIcon field="created"></p-sortIcon></th>
        <th pSortableColumn="updated">Updated<p-sortIcon field="updated"></p-sortIcon></th>
        <th>Private</th>
        <th >Action</th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-attachment>
    <tr>
        <td>{{attachment.name}}</td>
        <td>{{attachment.size}}</td>
        <td>{{attachment.created}}</td>
        <td>{{attachment.updated}}</td>
        <td>{{attachment.private}}</td>
        <td>
          <button class="noBtn" pTooltip="Download" tooltipPosition="top"><i class="mdi mdi-download-outline"></i></button>
          <button class="noBtn" pTooltip="Properties" tooltipPosition="top"><i class="mdi mdi-file-document-edit-outline"></i></button>
          <button class="noBtn delete" pTooltip="Delete" tooltipPosition="top"><i class="mdi mdi-delete-outline"></i></button>
        </td>
    </tr>
</ng-template>
</p-table>

</div>
